body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.recipe-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    max-width: 300px;
}

.recipe-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-card h2 {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    
    position: fixed;
    bottom: 0;
    width: 100%;
}
