@model Course

<h1>@Model.name</h1>
<form action="/course/SaveEdit/@Model.id" method="get">
    <div class="form-group">
        
         <input type="text" name="Name"id="Name" value="@Model.name" />
    </div>
    <div class="form-group">
        <input type="text" name="degree" id="degree" value="@Model.degree" />
    </div>
    <div>
        <input type="submit" name="Edit" value="Edit" />
        </div>

</form>